<div id="log-div">
	<h1 id="log">Please Login !!!!!</h1>
	<div>
		<%= link_to "Admin", new_user_session_path, :id => "pp" %>   <p id="pp" style="display: inline-block;">   /  </p>
		<%= link_to "Employee", new_user_session_path, :id => "pp" %>
	</div>
</div>