<html>
   <body>
      <p>Hi <%=@data["selectedemailto"]%> ,</p>
      <br>
      <p><%=@data["message"]%></p>
      <br>
      <p>Thanks & regards</p>
      <p><%=@data["email"]%></p>
   </body>
</html>